* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  height: 100px;
  width: 100%;
  /* background-color: crimson; */
  /* border-bottom: 2px solid #dadada; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
}

.nav-child {
  display: flex;
  gap: 4vw;
  align-items: center;
}

.nav h2 {
  font-size: 1.5vw;
  font-weight: 800;
}

.nav h4 {
  font-size: 1.1vw;
}

.nav i {
  font-size: 1.6vw;
  font-weight: 800;
  display: none;
}

.nav button {
  font-size: 1vw;
  background-color: #ff735c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.7vw 1.3vw;
  font-weight: 600;
}

.content {
  height: calc(100% - 100px);
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  position: relative;
}

.left {
  height: 100%;
  width: 55%;
  /* background-color: coral; */
  padding: 5vw 4vw;
}

.left h1 {
  font-size: 4.2vw;
  line-height: 4.4vw;
}

.left p {
  font-size: 1.25vw;
  color: #676767;
  font-weight: 700;
  width: 80%;
  margin-top: 1.5vw;
  margin-bottom: 3vw;
}
.left h1 span {
  color: #ff735c;
}

.content button {
  font-size: 1.2vw;
  background-color: #ff735c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.1vw 2.1vw;
  font-weight: 700;
}

.right {
  height: 100%;
  width: 45%;
  /* background-color: skyblue; */
}

.right img {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  .nav {
    /* background-color: lightseagreen; */
    /* color: #fff; */
    padding: 0 6vw;
    height: 60px;
  }

  .nav button {
    display: none;
  }

  .nav h2 {
    font-size: 5.1vw;
  }
  .nav h4 {
    font-size: 4vw;
    display: none;
  }
  .nav i {
    font-size: 4.5vw;
    display: initial;
  }
  .content {
    height: calc(100% - 60px);
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 45%;
    padding: 4vw 6vw;
    /* background-color: aqua; */
  }
  .left h1 {
    font-size: 10vw;
    line-height: 11vw;
  }
  .left p {
    font-size: 3vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
  }
  .right {
    width: 100%;
    height: 55%;
  }
  .content button {
    padding: 3vw 6vw;
    border-radius: 3vw;
    font-size: 3vw;
    font-weight: 700;
  }
}
